TSK 22217 Cnfigure nodered to get http data from api.txt
[{"id":"3004e546.b789da","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d1090319.ca521","type":"http in","z":"3004e546.b789da","name":"my website","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":318.28907203674316,"y":250.28907585144043,"wires":[["f6f95549.f4f7b8"]],"l":false},{"id":"f6f95549.f4f7b8","type":"function","z":"3004e546.b789da","name":"temperature","func":"msg.payload={\n    \"temperature\":global.get('temperature'),\n     \"objectTemp\":global.get('objectTemp'),\n    \"humidity\":global.get('humidity')\n}\nreturn msg;","outputs":1,"noerr":0,"x":567.2812623977661,"y":461.47655391693115,"wires":[["fc2460a9.d7b87"]],"l":false},{"id":"fc2460a9.d7b87","type":"http response","z":"3004e546.b789da","name":"","statusCode":"","headers":{},"x":784.2890567779541,"y":239.2187557220459,"wires":[],"l":false},{"id":"82e318c2.cb35d8","type":"http request","z":"3004e546.b789da","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Sindri,IN&appid=d2c796108b8d2d84a58a3a352fe8f2e7","tls":"","persist":false,"proxy":"","authType":"","x":549.0195388793945,"y":238.00391674041748,"wires":[["874f8343.a264c"]]},{"id":"81f2eb3f.2370f8","type":"function","z":"3004e546.b789da","name":"","func":"payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":142.38671875,"y":424.73046875,"wires":[[]],"l":false},{"id":"6d7efca2.1bdc14","type":"http in","z":"3004e546.b789da","name":"my website","url":"/api2","method":"get","upload":false,"swaggerDoc":"","x":342.01953125,"y":165.00390625,"wires":[["82e318c2.cb35d8"]],"l":false},{"id":"874f8343.a264c","type":"function","z":"3004e546.b789da","name":"temperature","func":"msg.payload={\n    \"name\":msg.payload.name,\n    \"temp\":msg.payload.main.temp,\n        \"humidity\":msg.payload.main.humidity,\n    \"windspeed\":msg.payload.wind.speed\n}\nreturn msg;","outputs":1,"noerr":0,"x":681.01953125,"y":161.00390625,"wires":[["fc2460a9.d7b87"]],"l":false}]