TSK22215 connection ibm iot to simulator data.txt
[{"id":"208665dd.d97fda","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"39572016.fffcf","type":"ibmiot in","z":"208665dd.d97fda","authentication":"apiKey","apiKey":"c7967e5.b8c848","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ESP8266","applicationId":"","deviceType":"IOTProject","eventType":"","commandType":"event_1","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":108.00000381469727,"y":212.0000057220459,"wires":[["654251f2.c2186","9d0626ba.e80568","832eb66e.699ab8","a50692b9.ed767","2c00a4f5.22893c","7546f4e6.16fddc"]]},{"id":"a50692b9.ed767","type":"debug","z":"208665dd.d97fda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1450,"y":220,"wires":[]},{"id":"654251f2.c2186","type":"function","z":"208665dd.d97fda","name":"temperature","func":"var temperature= global.get('temperature')\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":750,"y":40,"wires":[["a50692b9.ed767","c2d1f475.692c78"]]},{"id":"9d0626ba.e80568","type":"function","z":"208665dd.d97fda","name":"humidity","func":"var humi= global.get('humidity')\nreturn {payload:msg.payload.d.humidity}\n","outputs":1,"noerr":0,"x":684,"y":322,"wires":[["a50692b9.ed767","77097c52.45f904"]]},{"id":"c2d1f475.692c78","type":"ui_gauge","z":"208665dd.d97fda","name":"","group":"1a2b4a6e.8e9106","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperature ","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":120,"wires":[]},{"id":"77097c52.45f904","type":"ui_gauge","z":"208665dd.d97fda","name":"","group":"44cc58a5.f82fa8","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":420,"wires":[]},{"id":"832eb66e.699ab8","type":"function","z":"208665dd.d97fda","name":"Soil moisture","func":"var objectTemp= global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["a50692b9.ed767","83d040f0.6c118"]]},{"id":"83d040f0.6c118","type":"ui_chart","z":"208665dd.d97fda","name":"","group":"53fdfc1a.e18564","order":1,"width":0,"height":0,"label":"soil moisture","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":260,"wires":[[]]},{"id":"fd729dfb.1b63a","type":"ibmiot out","z":"208665dd.d97fda","authentication":"apiKey","apiKey":"c7967e5.b8c848","outputType":"cmd","deviceId":"ESP8266","deviceType":"1.0.6","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1740,"y":480,"wires":[]},{"id":"243734b6.07765c","type":"ui_button","z":"208665dd.d97fda","name":"","group":"f2d363cb.d2c69","order":1,"width":0,"height":0,"passthru":true,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hey rahul motor is on","payloadType":"str","topic":"","x":1220,"y":600,"wires":[["fd729dfb.1b63a","2fddf71b.b34b88","d6851ab5.b61e28"]]},{"id":"2fc327ed.de00e8","type":"ui_button","z":"208665dd.d97fda","name":"","group":"f2d363cb.d2c69","order":2,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motor off","payloadType":"str","topic":"","x":1260,"y":720,"wires":[["fd729dfb.1b63a","88457872.82a1d8","d6851ab5.b61e28"]]},{"id":"79e4ece4.a80fa4","type":"function","z":"208665dd.d97fda","name":"humidity","func":"msg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":368.0000114440918,"y":936.9999809265137,"wires":[["78c6b70.bbc3348","60144589.36673c"]]},{"id":"2c00a4f5.22893c","type":"http request","z":"208665dd.d97fda","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Dhanbad,IN&appid=d2c796108b8d2d84a58a3a352fe8f2e7","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":580,"wires":[["a50692b9.ed767","1b40729e.2ce06d","3c3196c2.f4c13a","9e9da46f.023f18"]]},{"id":"1b40729e.2ce06d","type":"function","z":"208665dd.d97fda","name":"Api temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":520,"wires":[["a50692b9.ed767","4d38e4f5.a3198c"]]},{"id":"4d38e4f5.a3198c","type":"ui_chart","z":"208665dd.d97fda","name":"","group":"53fdfc1a.e18564","order":2,"width":0,"height":0,"label":"Api Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"100","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#800000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":580,"wires":[[]]},{"id":"c8d5c93d.921328","type":"ui_gauge","z":"208665dd.d97fda","name":"","group":"44cc58a5.f82fa8","order":2,"width":0,"height":0,"gtype":"wave","title":"Api Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":700,"wires":[]},{"id":"95fc0820.8cd248","type":"ui_gauge","z":"208665dd.d97fda","name":"","group":"1a2b4a6e.8e9106","order":2,"width":0,"height":0,"gtype":"donut","title":"Api Pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":860,"wires":[]},{"id":"3c3196c2.f4c13a","type":"function","z":"208665dd.d97fda","name":"Api humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["c8d5c93d.921328","a50692b9.ed767"]]},{"id":"9e9da46f.023f18","type":"function","z":"208665dd.d97fda","name":"Api Pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":780,"wires":[["95fc0820.8cd248","a50692b9.ed767"]]},{"id":"2fddf71b.b34b88","type":"ui_text","z":"208665dd.d97fda","group":"f2d363cb.d2c69","order":2,"width":0,"height":0,"name":"","label":"ON","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":520,"wires":[]},{"id":"88457872.82a1d8","type":"ui_text","z":"208665dd.d97fda","group":"f2d363cb.d2c69","order":2,"width":0,"height":0,"name":"","label":"OFF","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":820,"wires":[]},{"id":"4067548.394d0ac","type":"ui_slider","z":"208665dd.d97fda","name":"","label":"Motor Speed","tooltip":"","group":"f2d363cb.d2c69","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":1290,"y":460,"wires":[["fd729dfb.1b63a","2fddf71b.b34b88"]]},{"id":"d6851ab5.b61e28","type":"ui_audio","z":"208665dd.d97fda","name":"adiao","group":"f2d363cb.d2c69","voice":"hi-IN","always":true,"x":1610,"y":640,"wires":[]},{"id":"46a9b015.1bbaf","type":"inject","z":"208665dd.d97fda","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":75.28125190734863,"y":677.4765911102295,"wires":[[]],"l":false},{"id":"85288da8.be773","type":"ibmiot in","z":"208665dd.d97fda","authentication":"apiKey","apiKey":"c7967e5.b8c848","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ESP8266","applicationId":"","deviceType":"IOTProject","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":172.2812614440918,"y":773.1875982284546,"wires":[["78c6b70.bbc3348","79e4ece4.a80fa4"]],"l":false},{"id":"78c6b70.bbc3348","type":"debug","z":"208665dd.d97fda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":568.2890567779541,"y":863.4219131469727,"wires":[],"l":false},{"id":"60144589.36673c","type":"ui_gauge","z":"208665dd.d97fda","name":"","group":"53fdfc1a.e18564","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":569.2812347412109,"y":960.0625076293945,"wires":[],"l":false},{"id":"7546f4e6.16fddc","type":"function","z":"208665dd.d97fda","name":"","func":"global.set('temperature',msg.payload.d.temperature),\nglobal.set('humidity',msg.payload.d.humidity),\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":237.7734375,"y":119.4765625,"wires":[[]],"l":false},{"id":"c7967e5.b8c848","type":"ibmiot","z":"","name":"IBM IOT","keepalive":"6","serverName":"243g4r.messaging.Internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1a2b4a6e.8e9106","type":"ui_group","z":"","name":"temperature","tab":"c098f0c3.abe68","order":2,"disp":true,"width":"6","collapse":false},{"id":"44cc58a5.f82fa8","type":"ui_group","z":"","name":"Humidity","tab":"c098f0c3.abe68","order":3,"disp":true,"width":"6","collapse":false},{"id":"53fdfc1a.e18564","type":"ui_group","z":"","name":"Soil Moisture","tab":"c098f0c3.abe68","order":1,"disp":true,"width":"8","collapse":false},{"id":"f2d363cb.d2c69","type":"ui_group","z":"","name":"Motor control","tab":"c098f0c3.abe68","order":4,"disp":true,"width":"6","collapse":false},{"id":"c098f0c3.abe68","type":"ui_tab","z":"","name":"Smart Agriculture System based on IOT","icon":"dashboard","disabled":false,"hidden":false}]